@{
    ViewBag.Title = "About";
}

<!-- TODO: Turn into a simple knockout view. -->

<div class="well">
    <p>This is a site which was created to show various skills.</p>
    <p>Everything on this site should eventually cover each of the following questions:<br/>(Hover over the icons for more information.)</p>
    <div class="row">
        <div class="col-xs-7"><strong style="padding-left: 3.5em;">Question</strong></div>
        <div class="col-xs-1"><strong style="padding-left: 0.75em;">Answer</strong></div>
        <div class="col-xs-1"><strong>Exampled</strong></div>
    </div>
    <ol type="1">
        <li>
            <div class="col-xs-7">Can you create a new ASP.net MVC application from scratch, add controllers and views?</div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
            <div class="col-xs-1"><i class="fa fa-check" title="Done"></i></div>
        </li>
        <li>
            <div class="col-xs-7">Can you implement a solution that has an N-tier architecture?</div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
        </li>
        <li>
            <div class="col-xs-7">Are you familiar with the Microsoft ORM Entity Framework?</div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
            <div class="col-xs-1"><i class="fa fa-minus" title="In progress"></i></div>
        </li>
        <li>
            <div class="col-xs-7">Can you create a new Entity Framework diagram and either:</div>
            <div class="row">
                <ol type="a">
                    <li>
                        <div class="col-xs-7">bring existing table, views and functions into the diagram (Database First)</div>
                        <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
                        <div class="col-xs-1"><i class="fa fa-close"></i></div>
                    </li>
                    <li>
                        <div class="col-xs-7">create models then deploy them to the DB (Code First)</div>
                        <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
                        <div class="col-xs-1"><i class="fa fa-close"></i></div>
                    </li>
                </ol>
            </div>
        </li>
        <li>
            <div class="col-xs-7">Can you write Linq queries?</div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes <3"></i></div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes (CustomDbContext has some)"></i></div>
        </li>
        <li>
            <div class="col-xs-7">Are you confident with interacting with the DB via the Entity Framework context?</div>
            <div class="col-xs-1"><i class="fa fa-minus" title="Not used EF a lot, but wouldn't take long to learn"></i></div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
        </li>
        <li>
            <div class="col-xs-7">Are you familiar with design patterns? What is your favourite and why?</div>
            <div class="col-xs-1"><i class="fa fa-minus" title="Not particularly"></i></div>
            <div class="col-xs-1"><i class="fa fa-check" title="Factory pattern for IOC, because it makes IOC easier."></i></div>
        </li>
        <li>
            <div class="col-xs-7">Can you successfully implement the Repository design pattern?</div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
            <div class="col-xs-1"><i class="fa fa-minus" title="In progress"></i></div>
        </li>
        <li>
            <div class="col-xs-7">Can you write SQL to interrogate a MS SQL database?</div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
            <div class="col-xs-1"><i class="fa fa-minus" title="In progress"></i></div>
        </li>
        <li>
            <div class="col-xs-7">Can you create an SQL view?</div>
            <div class="col-xs-1"><i class="fa fa-check" title="Yes"></i></div>
            <div class="col-xs-1"><i class="fa fa-minus" title="In progress"></i></div>
        </li>
    </ol>
</div>