@{
    ViewBag.Title = "Home";
    ViewBag.HidePageHeader = true;
}

<div class="jumbotron text-center" style="margin-top: 2em;">
    <h1>To-Do Manager</h1>
    <p>
        An example application built to showcase various skills.
    </p>
</div>