@{
    ViewBag.Title = "Home";
    ViewBag.HidePageHeader = true;
}

<div class="page-header">
</div>

<div class="jumbotron text-center" >
    <h1>To-Do Manager</h1>
    <p>
        An example application built to showcase various skills.
    </p>
</div>