body {
    padding-top: 4em;
    padding-bottom: 1em;
}

.inline-paragraph p {
    display: inline-block;
    margin: 0;
}

.mainColumn {
    font-weight: bold;
    padding-right: 0.5em;
}

ol li .fa-check {
    color: #18bc9c;
}

ol li .fa-minus {
    color: #e08e0b;
}

ol li .fa-close {
    color: #e74c3c;
}

#uncaughtErrorModal .modal-content {
    background: #e74c3c;
    color: #ffffff;
}